body {
    background: #FFF;
}

a {text-decoration: none;}


.header-nav {
    color:#2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.32em;
}

.logo-part-one {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part-two {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
ul {list-style: none;}

.list-nav {
    color:  #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32em;
}

.nav-add {
    color:#434455;
    
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32em;
}

.main-page-name {
    color: #FFF;
        font-family: Roboto, sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.2em;
}

.name-one-section {
    color:  #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing:0.2em;
}
.list-one-section {
    color:  #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.2em;
}

.name-two-sextion {
    color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.2em;
}

.name-page-two {
    color:#2E2F42;
       font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.2em;
}